* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10 px 0;

}

h1 {
    color: steelblue;
}

p {
    padding: 0;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

nav a {
    color: white;
    padding: 10px;
    display: block;
}

aside {
    width: 20em;
    margin: 1em;
    border: 1px solid rgba(0, 0, 0, 2);
    padding: 1em;
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 1em;
    border-top: 1px solid #000;
    text-align: center;
}

/* Class Selectors */

.box {
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 10%);
    padding: 1rem;
    background-color: rgb(194, 205, 233);
}

aside {
    width: 20em;
    text-align: center;
}

main img {
    float: right;
    margin: 0 0 10px 10px;
    width: 150px;
    border-radius: 8px;
}

aside h2 {
    position: absolute;
    top: 430px;
    left: 125px;
    color: #fff;
}